* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h2{
    grid-column: span 2;
    text-align: center;
    font-size: 30pt;
    margin-bottom: 20px;
}

article{
    background-color: var(--laranjaClaro);
    padding: 30px;
    border-radius: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.cadastro{
    width: 100vw;
    height: 93vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input{
    width: 300px;
}

.container{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    justify-content: center;
}

.options {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.botaoAdd {
    grid-column: span 2;
    background-color: var(--verde);
    padding: 7px;
    border-radius: 8px;
    border: 0;
    box-shadow: 2px 2px 7px 1px var(--cinzaClaro);
    font-size: 13pt;
}

.botaoAdd:active {
    transform: translateY(2px);
}

