.tela {
    background-color: var(--laranjaClaro);
    margin: auto;
    max-width: 70%;
    height: 93vh;
    box-shadow: 0px 4px 7px 1px var(--cinzaClaro);
}

.options {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.lista {
    display: block;
    margin: auto;
    padding-top: 2%;
}

.itemLista {
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 10px;
    width: 70%;
    margin: auto;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-around;
    background-color: var(--cinzaClaro2);
}

.solicitado {
    background-color: var(--vermelho);
}

.aceito {
    background-color: var(--azul);
}

.emAndamento {
    background-color: var(--verde);
}

.concluido {
    background-color: var(--laranja);
}

.botaoAdd {
    padding: 7px;
    border-radius: 8px;
    box-shadow: 2px 2px 7px 1px var(--cinzaClaro);
}

.botaoAdd:active {
    transform: translateY(2px);
}