.flex-container{
    display: flex;
    margin: 20px;
    justify-content: space-around;
}

.grid-container{
    display: grid;
    position: relative;
    top: 30px;
    grid-template-columns: 200px 500px;
    background-color: var(--laranjaClaro);
    padding: 20px;
    border-radius: 10px;
}

.grid-container h4{
    margin: 10px;
}

.grid-container h2{
    grid-column: span 2;
    text-align: center;
    font-size: 30pt;
    margin-bottom: 20px;
}

#fotoPerfil {
    border-radius: 120px;
}

.sair {
    margin-top: 13%;
    margin-bottom: 8%;
}

.botaoOut {
    background-color: var(--vermelho);
    padding: 8px 40px;
    border-radius: 8px;
    box-shadow: 2px 2px 7px 1px var(--cinzaClaro);
    grid-column: span 2;
    margin-top: 30px;
}

.botaoOut:active {
    transform: translateY(2px);
}