* {
    margin: 0;
    padding: 0;
    text-align: center;
}

input {
    border-radius: 7px;
    border: 0;
    padding: 5px;
}

.tela {
    background-color: var(--laranjaClaro);
    margin: auto;
    max-width: 70%;
    height: 93vh;
    box-shadow: 0px 4px 7px 1px var(--cinzaClaro);
}

.dados {
    height: 80%;
    width: 80%;
    margin: auto;
    text-align: center;
}

.options {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.lista {
    display: block;
    margin: auto;
    padding-top: 2%;
}

.itemLista {
    background-color: var(--azul);
    border-radius: 10px;
    width: 98%;
    margin: auto;
    margin-bottom: 1%;
}

.titulo {
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 5%;
}

.botaoAdd {
    background-color: var(--verde);
    padding: 7px;
    border-radius: 8px;
    border: 0;
    box-shadow: 2px 2px 7px 1px var(--cinzaClaro);
}

.botaoAdd:active {
    transform: translateY(2px);
}

.botaoSave {
    background-color: var(--azul);
    padding: 7px;
    border-radius: 8px;
    box-shadow: 2px 2px 7px 1px var(--cinzaClaro);
    width: 40%;
    margin: auto;
}