/*
laranja : #f07e13
laranja claro : #f07e13
laranja pastel : #faf1de
marrom : #481800
areia : #e2d397
areia claro : #eee2b8
azul escuro: #0194be
azul : #0fc3e8
azul claro : #97eeff
*/

:root {
    --cinza: #505050;
    --laranja: #ff9c40;
    --laranjaClaro: #faf1de;
    --areia: #eee2b8;
    --azul: #97eeff;
  }
*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: var(--cinza);
}
a{
    text-decoration: none;
}
input{
    border-radius: 7px;
    border: 0;
    padding: 5px;
}
body{
    background-color: var(--areia);
}
.tela{
    background-color: var(--laranjaClaro);
    margin: auto;
    max-width: 70%;
    height: 93vh;
    display:grid;
    grid-template-columns: 2fr 1fr;
}
.dados{
    height: 80%;
    width: 80%;
    margin: auto;
}
.barraNavegacao{
    height: 7vh;
    line-height: 7vh;
    background-color: var(--laranja);
    display: flex;
    justify-content: space-between;
    padding-right: 1%;
    padding-left: 1%;
}
.options{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.eventos{
    padding-top: 2%;
}
.card{
    background-color: var(--azul);
    width: 90%;
    border:1px solid black;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    display: flex;
    margin-top: 10px;
}
.imagemPasseio{margin: 18px;
    border-radius: 8px;
    width: 400px;
}
.descricao{
    margin: auto;
}
.tituloPasseio{
    font-size: large;
    font-weight: bold;
}
.artigos{
    padding-top: 5%;
}
.produtos{
    padding-top: 10%;
    border-left: 1px dashed black;
}