*{
    margin: 0;
    padding: 0;
    text-align: center;
}
input{
    border-radius: 7px;
    border: 0;
    padding: 5px;
}
.tela{
    background-color: rgb(109, 109, 201);
    margin: auto;
    max-width: 70%;
    height: 93vh;
}
.dados{
    height: 80%;
    width: 80%;
    margin: auto;
    text-align: center;
}
.options{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.lista{
    background-color: rgb(109, 201, 176);
    display: block;
    margin:auto;
    padding-top: 2%;
}
.itemLista{
    background-color: rgb(109, 201, 130);
    border:1px solid black;
    border-radius: 10px;
    width: 98%;
    margin:auto;
    margin-bottom: 1%;
}
.titulo{
    background-color: rgb(201, 196, 109);
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}