:root {
    --cinza: #505050;
    --cinzaClaro: #888;
    --laranja: #ff9c40;
    --laranjaClaro: #faf1de;
    --areia: #eee2b8;
    --azul: #97eeff;
    --verde:rgb(126, 255, 109);
}
*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: var(--cinza);
}
a{
    text-decoration: none;
}
input{
    border-radius: 7px;
    border: 0;
    padding: 5px;
}
body{
    background-color: var(--areia);
}
.barraNavegacao{
    height: 7vh;
    line-height: 7vh;
    background-color: var(--laranja);
    display: flex;
    justify-content: space-between;
    padding-right: 1%;
    padding-left: 1%;
}