h1 {
    text-align: center;
}

.cardPrincipal {
    background-color: var(--laranjaClaro);
    margin: auto;
    max-width: 70%;
    margin-top: 5%;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0px 0px 20px var(--cinzaClaro);
}

.dados {
    width: 45%;
    height: 100%;
    display: block;
    margin: auto;
}

.dadosLogin {
    display: block;
    margin-top: 10%;
    height: 50%;
}

.label {
    text-align: left;
    padding-left: 10%;
    padding-top: 4%;
}

input{
    background-color: transparent;
    width: 75%;
    border-bottom: 1px solid var(--cinzaClaro);
    border-radius: 0;
}
input:focus{
    outline: none;
}

.dadosCadastro {
    display: block;
    margin-top: 5%;
    height: 30%;
}

button{
    margin-top:5%;
    padding: 1% 4%;
    border:0;
    border-radius: 8px;
    box-shadow: 2px 2px 5px 1px var(--cinzaClaro);
    background-color: var(--azul2);
}

button:active {
    transform: translateY(2px);
}

.foto {
    margin: auto;
}

img {
    border-radius: 10px;
}

.linhaVertical {
    background-color: var(--cinzaClaro);
    width: 2px;
    height: 90%;
    margin: auto;
}