*{
    margin: 0;
    padding: 0;
    text-align: center;
}
input{
    border-radius: 7px;
    border: 0;
    padding: 5px;
}
.tela{
    background-color: var(--laranjaClaro);
    margin: auto;
    max-width: 70%;
    height: 93vh;
    display:grid;
    grid-template-columns: 1fr 2fr;
}
.dados{
    height: 80%;
    width: 80%;
    margin: auto;
    text-align: center;
}
.options{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.informacoes{
    padding-top: 8%;
}
.nome{
    font-size:larger;
}